* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(230, 230, 230, 0.467);
}

.perrosRandom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perrosRandom h1 {
    margin: 25px 0;
    font-size: 25px;
}

.perrosRandom p {
    margin: 20px 0;
    font-size: 18px;
}

.botonPerro {
    width: 200px;
    height: 80px;
    padding: 5px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: none;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.botonPerro:hover {
    background: #000;
    color: white;
}

img {
    width: 200px;
    height: 200px;
}

#perrosDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#perrosDisplay img {
    border-radius: 50%;
    border: none;
    margin: 15px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.61), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.randomDogCard {
    display: flex;
    flex-direction: column;
}